@media screen and (min-width: 769px) and (max-width: 1023px)  {
  .container.main {
    width: 680px;
    margin: auto;
  }
  .container.nav {
    width: 769px;
    margin: auto;
  }
}
@media screen and (min-width: 1024px) {
  .container.main {
    width: 800px;
    margin: auto;
  }
  .container.nav {
    width: 1024px;
    margin: auto;
  }
}
.main-action {
  display: flex;
  justify-content: flex-end
}
.list__body .list__body__item:nth-child(1) {
  margin-top: 2em;
}
.list__body__item {
  border-top: solid 1px #dbdbdb
}
.list__body .list__body__item:nth-last-child(1) {
  border-bottom: solid 1px #dbdbdb
}
.list__body .list__body__item:nth-child(even) {
  background-color: #fafafa
}
