// Place all the styles related to the food_categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (max-width: 767px) {
  .columns.categories {
    width: 330px;
    margin: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px)  {
  .columns.categories {
    width: 730px;
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  .columns.categories {
    width: 900px;
    margin: auto;
  }
}

.food-category__body .food-category__body__item:nth-child(1) {
  border-top: solid 2px #dbdbdb
}

.food-category__body .food-category__body__item:not(:nth-child(1)) {
  border-top: solid 1px #dbdbdb
}
.food-category__body .food-category__body__item:nth-child(even) {
  background-color: #fafafa
}