// Place all the styles related to the foods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.foods {
  @media screen and (max-width: 768px) {
    .name.column {
      order: 1
    }
    .category.column {
      order: 2
    }
    .amount.column {
      order: 3
    }
    .to-buy.column {
      order: 4
    }
    .food-list__body {
      .column.name {
        padding-top: 20px;
        padding-bottom: 8px;
      }
      .column.amount, .column.to-buy {
        padding-top: 8px;
        padding-bottom: 20px
      }
    }
    .to-buy {
      .button {
        width: 100%
      }
    }
  }
  @media screen and (min-width: 769px) {
    .name.column {
      padding-left: 20px !important
    }
  }
  .food__header {
    margin-top: 1.5em;
  }
  .search {
    .times {
      cursor: pointer;
      pointer-events: initial !important
    }
  }
  .amount-checkbox.column {
    position: relative;
    width: 6.5em;
    span.amount-label {
      position: absolute;
      top: -0.01em;
      left: 2em;
    }
  }
  .column.to-buy, .column.amount {
    display: flex;
    justify-content: center;
  }
  .amount {
    .buttons {
      max-width: 210px;
      width: 100%;
    };
    .button {
      width: 33%
    }
    .amount-button.is-primary {
      cursor: default;
    }
  }
  .to-buy{
    .button {
      width: 6.5rem
    }
  }
}
