// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home {
  @media screen and (max-width: 767px) {
    span.icon {
      width: 3rem;
      height: 3rem
    }
    .home-icon-image {
      font-size: 3em
    }
    .home-descriptions {
      width: 95%;
      margin: auto
    }
  }
  @media screen and (min-width: 768px)  {
    .home-descriptions {
      padding-left: 50px;
    }
  }
  .home-descriptions {
    padding-top: 20px;
    padding-bottom: 50px
  }
}
