// Place all the styles related to the shopping_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the foods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.shopping-list {
  p.bought {  
    text-decoration: line-through;
  }
  .column.buy, .column.check {
    display: flex;
    justify-content: center
  }
}
